<!DOCTYPE html>
<html lang="en">

<%- include('head-admin.ejs') %>

    <body>
        <div class="container">
            <%- include('navbar-admin.ejs') %>

                <!-- Main -->
                <div class="main">
                    <!-- topbar -->
                    <%- include('topbar.ejs') %>

                        <!-- card -->
                        <%- include('header-card.ejs') %>

                            <!--  order details List -->
                            <div class="details">
                                <div class="recentOrders">
                                    <div class="cardHeader">
                                        <h2>Recent Orders</h2>
                                        <a href="#" class="btn">View All</a>
                                    </div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                <td>Price</td>
                                                <td>Payment</td>
                                                <td>Status</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status delivered">Delivered</span></td>
                                            </tr>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status return">return</span></td>
                                            </tr>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status inprogress">inprogress</span></td>
                                            </tr>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status pending">pending</span></td>
                                            </tr>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status delivered">Delivered</span></td>
                                            </tr>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status return">return</span></td>
                                            </tr>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status pending">pending</span></td>
                                            </tr>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status delivered">Delivered</span></td>
                                            </tr>
                                            <tr>
                                                <td>Star Refrigerator</td>
                                                <td>$1200</td>
                                                <td>Paid</td>
                                                <td><span class="status return">return</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- New Customers -->
                                <div class="recentCustomers">
                                    <div class="cardHeader">
                                        <h2>Recent Customers</h2>
                                    </div>
                                    <table>
                                        <tr>
                                            <td width="60px">
                                                <div class="imgBx">
                                                    <img src="https://source.unsplash.com/random" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <h4>Bach<br><span>Dong Thap</span></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60px">
                                                <div class="imgBx">
                                                    <img src="https://source.unsplash.com/random" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <h4>Bach<br><span>Dong Thap</span></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60px">
                                                <div class="imgBx">
                                                    <img src="https://source.unsplash.com/random" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <h4>Bach<br><span>Dong Thap</span></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60px">
                                                <div class="imgBx">
                                                    <img src="https://source.unsplash.com/random" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <h4>Bach<br><span>Dong Thap</span></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60px">
                                                <div class="imgBx">
                                                    <img src="https://source.unsplash.com/random" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <h4>Bach<br><span>Dong Thap</span></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60px">
                                                <div class="imgBx">
                                                    <img src="https://source.unsplash.com/random" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <h4>Bach<br><span>Dong Thap</span></h4>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                </div>
        </div>
    </body>

    <%- include('footer-admin.ejs') %>

</html>