<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

    <body>
        <%- include('header.ejs') %>
            <div class="container mt-5">
                <div class="row">
                    <% for (let [index,product] of products.entries()) { %>
                        <div class="col-4">
                            <div class="card text-start w-100 mb-3" style="width:18rem;">
                                <img src="images/<%= product.imageURL %>" class="card-img-top" alt="Card image"
                                    style="width:100%; height: 400px;">
                                <div class="card-body">
                                    <h5>
                                        <a class="text-decoration-none" href="/detail/<%= index %> ">
                                            <%= product.title %>
                                        </a>
                                    </h5>
                                    <p class="d-inline-block text-truncate" style="max-width: 250px;">
                                        <%=product.description %>
                                    </p>
                                    <h6 class="price">
                                        <%= product.price %> VNĐ
                                    </h6>
                                    <p></p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <%- include('footer.ejs') %>
    </body>

</html>